{% extends 'myapp/base.html' %}
{% load static %}
{% block page_title %}Home{% endblock %}
{% block nav-item-home %}active{% endblock %}

{% block content %}

<!-- TODO: Export the CSS from here into a style.css -->

<div style="background-image:url({% static "myapp/img/forest.jpg" %});height:500px;background-position:center;background-size:cover;background-repeat:no-repeat;">
    <div class="d-flex justify-content-center align-items-center" style="height:inherit;min-height:initial;width:100%;position:absolute;left:0;background-color:rgba(30,41,99,0.53);">
        <div class="d-flex align-items-center order-12" style="height:200px;">
            <div class="container mt-5">
                <h1 class="text-center" style="color:rgb(242,245,248);font-size:70px;font-weight:bold;">Wojciech Dobrychłop</h1>
                <h3 class="text-center" style="color:rgb(242,245,248);padding-top:0.25em;padding-bottom:0.25em;font-weight:normal;">A student with a passion for programming.</h3>                  
                <div class="col-md-12 text-center mt-5"> 
                  <a href="{% url 'myapp:contact' %}" class="btn btn-lg btn-light">Contact me</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
  <div class="row">

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Simplistity. <span class="text-muted">A to-do list that's simple.</span></h2>
        <p class="lead">A task list desktop application developed in C# using Windows Forms. Heavily inspired by 
          <a href="http://todotxt.org/">Todo.txt</a>
        </p>
      </div>
      <div class="col-md-5">
        <a href="https://github.com/WojDob/Simplistity">
          <img src="{% static "myapp/img/simplistity.png" %}" alt="Simplistity screenshot"></svg>
        </a>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Identification of protein domains consisting of <span class="text-muted"> repeated dipeptide motifs.</span></h2>
        <p class="lead">A statistical analysis of large sets of data including proteomes of 10 plants. I used Python to create a tool that allows molecular biologists to identify proteins which exhibit significant overrepresentation of dipeptide motifs.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <a href="https://github.com/WojDob/Protein-domains-identification">
          <img src="{% static "myapp/img/domainsSmaller.png" %}" alt="Multiple sequence alignment screenshot"></svg>
        </a>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">This website. <span class="text-muted">And all the cool stuff it contains. </span></h2>
        <p class="lead">Created with Django, this very website features a fully functional blog, an application showcasing news from various publishers, and also some simple (but handy)
        bioinformatics tools.</p>
      </div>
      <div class="col-md-5">
        <a href="https://github.com/WojDob/portfolio-website">
          <img src="{% static "myapp/img/seqcontent.png" %}" alt="Screenshot of the news section"></svg>
        </a>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="col-md-12 text-center mt-5 mb-5 p-5"> 
      <p class="featurette-heading">See more of my work: <a href="{% url 'myapp:contact' %}" class="btn btn-lg btn-dark">GitHub</a></p>            
    </div>


  </div>
</div>

{% endblock content %}