{% extends 'myapp/base.html' %}
{% load static %}
{% block page_title %}Home{% endblock %}
{% block nav-item-home %}active{% endblock %}

{% block content %}

<div class="container mt-5">
  <div class="row">
    <main role="main" class="inner cover">
      <h1 class="cover-heading">Wojciech Dobrychłop</h1>
      <p class="lead">Student with a passion for programming. Definitely check out my portfolio, as well
      as various tools I built into this website!</p>
      <p class="lead">
        <a href="{% url 'myapp:about' %}" class="btn btn-lg btn-secondary">Learn more</a>
      </p>
    </main>
  </div>
  </div>
</div>
{% endblock content %}